<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置别名-->
    <typeAliases>
        <typeAlias type="com.laowang.pojo.User" alias="User"/>
    </typeAliases>


    <environments default="dvo">
        <environment id="dvo">
            <!--配置事务管理器-->
            <transactionManager type="JDBC"/>
            <!--配置数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///xuexi_22"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/usermapper.xml"/>
        <mapper class="com.laowang.mapper.AccountMapper"></mapper>
    </mappers>


</configuration>